* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
}
html {
    font-family: sans-serif;
    font-weight: 100;
    min-height: 100vh;
    padding: 0;
}
body {
    min-height: 100%;
    background-attachment: fixed;
    background-color: #1f3861;
    background: linear-gradient(170deg, #1f3861 45%, #412c2c 100%);
    padding: 2em 5px;
}
h1 {
    font-family: serif;
    font-size: 4em;
    font-weight: 400;
    margin: 10px 0;
}
h2 {
    font-size: 1.8em;
    font-weight: 200;
    margin: 10px 0;
}
.page {
    position: relative;
    width: 100%;
    max-width: 990px;
    margin: auto;
    z-index: 1;
    color: #FFFFFF;
    background-color: #FFFFFF22;
    background: linear-gradient(50deg, #ffffff00 0%, #FFFFFF22 20%, #FFFFFF22 70%, #FFFFFF33 80%, #FFFFFF22 90%);
    border: 1px solid #FFFFFF88;
    border-radius: 16px;
    box-shadow: 0 5px 15px #00000044;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.language-link-container {
    position: absolute;
    right: 1.2em;
    top: 1em;
}
a.language-link {
    color: white;
    text-decoration: none;
}
a.language-link.disabled {
    color: gray;
    pointer-events: none;
}
.jumbo {
    padding: 1em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.jumbo-img {
    margin: 1em;
    max-width: 250px;
    border-radius: 50%;
    border: 1px solid #333333;
}
.jumbo-text {
    margin: 1em;
}
.lead {
    padding: 2em 1em;
    text-align: center;
    width: 100%;
    max-width: 720px;
    margin: auto;
}
/*
 * Snowflakes inspired by "Realistic Snowfall Effect with CSS and JavaScript"
 * from Jerome Rass from Codepen: https://codepen.io/jerora98/pen/rNgGOpM
 *
 * Improved and extended by NM
 */
.snowflake {
    position: fixed;
    top: -10px;
    z-index: 0;
    pointer-events: none;
    opacity: 0.8;
    color: #FFF;
    transition: opacity 1s;
}
.fading {
    opacity: 0;
}
@keyframes fall {
    from { top: -50px; }
    to { top: 100vh; }
}
@keyframes sideWays {
    from { transform: translateX(0); }
    50% { transform: translateX(50px); }
    to { transform: translateX(0); }
}