* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
}
html {
    font-family: sans-serif;
    font-weight: 100;
    min-height: 100vh;
    padding: 0;
}
body {
    min-height: 100%;
    background-attachment: fixed;
    background-color: #1f3861;
    background: linear-gradient(170deg, #1f3861 45%, #412c2c 100%);
    padding: 2em 2px;
}
h1 {
    font-family: serif;
    font-size: 4em;
    font-weight: 400;
    margin: 10px 0;
}
h2 {
    font-size: 1.8em;
    font-weight: 200;
    margin: 10px 0;
}
.page {
    position: relative;
    background-color: white;
    width: 100%;
    max-width: 990px;
    margin: auto;
    border-top: 3em solid #333333;
    z-index: 1;
}
.language-link-container {
    position: absolute;
    left: 1em;
    top: -2em;
    color: white;
}
a.language-link {
    color: white;
    text-decoration: none;
}
a.language-link.disabled {
    color: gray;
    pointer-events: none;
}
.no-fb {
    position: absolute;
    right: 0;
    top: -3em;
    height: 3em;
}
.jumbo {
    background-color: #dddddd;
    padding: 1em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.jumbo-img {
    margin: 1em;
    max-width: 250px;
    border-radius: 50%;
    border: 1px solid #333333;
}
.jumbo-text {
    margin: 1em;
}
.lead {
    padding: 2em 1em;
    text-align: center;
    width: 100%;
    max-width: 720px;
    margin: auto;
}
/*
 * Snowflakes inspired by "Realistic Snowfall Effect with CSS and JavaScript"
 * from Jerome Rass from Codepen: https://codepen.io/jerora98/pen/rNgGOpM
 *
 * Improved and extended by NM
 */
.snowflake {
    position: fixed;
    top: -10px;
    z-index: 0;
    pointer-events: none;
    opacity: 0.8;
    color: #FFF;
    transition: opacity 1s;
}
.fading {
    opacity: 0;
}
@keyframes fall {
    from { top: -50px; }
    to { top: 100vh; }
}
@keyframes sideWays {
    from { transform: translateX(0); }
    50% { transform: translateX(50px); }
    to { transform: translateX(0); }
}